
@import "./STYLES/section1-header.css";
@import "./STYLES/section2-header.css";
@import "./STYLES/section1-main.css";
@import "./STYLES/section2-main.css";
@import "./STYLES/section3-main.css";
@import "./STYLES/section-4-main.css";
@import "./STYLES/section-5-main.css";
@import "./STYLES/section-6-main.css";
@import "./STYLES/section-7-main.css";
@import "./STYLES/section-8-main.css";
@import "./STYLES/variables.css";



body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

