footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color-fondo-section-1);
  margin-top: 90px;
  padding: 70px;
}
.logo-footer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-footer img {
  width: 50px;
  height: 50px;
}
.logo-footer p {
  font-family: serif;
  font-size: 32.67px;
  font-weight: 600;
  font-style: italic;
  color: var(--color-letra-boton);
}
.text-below-logo {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-letra-footer);
}
.list-of-footer ul {
  list-style: none;
  line-height: 35px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-borde-menu);
}
.list-of-footer {
  display: flex;
}
.images-of-logos img {
  background-color: var(--color-fondo-boton);
  border-radius: 50px;
  padding: 7px;
}
.first-part-of-footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  width: 100%;
  text-align: center;
  color: var(--color-letra-footer);
  font-family: sans-serif;
  font-size: 10px;
}
.img-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.paragraph-size2 {
  grid-column: 1/3;
  font-family: sans-serif;
  font-size: 14px;
}
.word-title,
.paragraph-size2 {
  color: var(--color-letra-boton);
  font-weight: bold;
}
