footer{
background-color: var(--color-fondo-section-1);
padding-bottom: 1.875rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5.625rem;
  padding: 4.375rem;
}
.logo-footer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-footer img {
  width: 3.125rem;
  height: 3.125rem;
}
.logo-footer p {
  font-family: serif;
  font-size: 2.0419rem;
  font-weight: 600;
  font-style: italic;
  color: var(--color-letra-boton);
}
.text-below-logo {
  font-family: sans-serif;
  font-weight: 400;
  font-size: .875rem;
  color: var(--color-letra-footer);
}
.list-of-footer ul {
  list-style: none;
  line-height: 1.875rem;
  font-family: sans-serif;
  font-size: .875rem;
  font-weight: 400;
  color: var(--color-borde-menu);
}
.list-of-footer {
  display: flex;
}
.images-of-logos img {
  background-color: var(--color-fondo-boton);
  border-radius: 3.125rem;
  padding: .4375rem;
}
.first-part-of-footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  width: 100%;
  text-align: center;
  color: var(--color-letra-footer);
  font-family: sans-serif;
  font-size: .625rem;
}
.img-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .625rem;
  margin-top: .3125rem;
}
.paragraph-size2 {
  grid-column: 1/3;
  font-family: sans-serif;
  font-size: .875rem;
}
.word-title,
.paragraph-size2 {
  color: var(--color-letra-boton);
  font-weight: bold;
}
