.section3-main {
  background-color: var(--color-fondo-section-2);
  padding-top: 4.375rem;
  height: 80vh;
  
}
.container-main-3 {
  display: flex;
  justify-content: center;
  gap: 6.875rem;
  align-items: center;
}
.container-derecha {
  width: 28.7%;
}
.container-main-3 h2 {
  font-weight: 400;
  font-size: 2.375rem;
}
.texto-1 {
  font-family: sans-serif;
  font-size: .7875rem;
  position: relative;
  top: -0.9375rem;
}

.texto-2 {
  font-family: sans-serif;
  font-size: .6875rem;
  position: relative;
  top: -0.9375rem;
  color: var(--color-letra-main3);
}

.container-derecha button {
  font-family: sans-serif;
  font-weight: 600;
  font-size: .625rem;
}
.container-externo {
  width: 13.75rem;
  height: 8.75rem;
  display: flex;
  flex-direction: column;
  background-color: #474747;
  color: var(--color-letra);
  align-items: flex-start;
  justify-content: center;
  padding: 1.5625rem;
  position: relative;
  left: 23.125rem;
  bottom: 9.375rem;
  border-radius: .625rem;
  font-size: .75rem;
}
.container-externo div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .625rem;
}
