.section-4-main {
  display: flex;
  justify-content: center;
  padding-bottom: 3.75rem;
}

.container-main-4 {
  width: 70%;
  margin-top: 4.375rem;
}

.section-4-main h2 {
  font-size: 2.25rem;
  font-weight: 480;
}
.section-4-main ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}
.section-4-main h3 {
  font-size: .8125rem;
  font-family: sans-serif;
}
.section-4-main p {
  font-family: sans-serif;
  font-size: .75rem;
}
