.section-5-main {
  padding: 200px;
}

.container-general-section-5 {
  display: flex;
  width: 100%;
}

.container-img-section-5 {
  border: 2px black solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.container-section-5-article {
  border: 2px black solid;
}

.container-img-section-5 div {
  height: 80%;
  width: 200px;
  overflow: hidden;
}

.img-chef {
  grid-row: 1/3;
}

.container-img-section-5 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.img-gambas {
  margin-top: 55px;
}

.container-section-5-article div{
    
}

