.section-4-main {
  max-width: 950px;
  padding-left: 150px;
  margin-top: 70px;
  height: 100%;
}
.section-4-main h2 {
  font-size: 36px;
  font-weight: 480;
  padding-left: 40px;
}
.section-4-main ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 7px;
}
.section-4-main h3 {
  font-size: 13px;
  font-family: sans-serif;
}
.section-4-main p {
  font-family: sans-serif;
  font-size: 12px;
}
