.section-6-main{
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding: 60px;
}

.container-section-6{
border: 2px black solid;   
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 20px;
height: 80%;

}

.container-section-6 article{
border: 2px black solid; 
padding: 20px;

}

.container-section-6 article div{
border: 2px red solid;  
display: grid;
grid-template-columns: 50px 50px;
width: 300px;
height: 80px;
}

.img-articles{
grid-row: 1/3;    
}

.container-section-6 article div p{
    width: 100%;
}