.section-5-main {
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo-section-2);
}

.container-general-section-5 {
  display: flex;
  width: 70%;
}

.container-img-section-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .625rem;
}

.container-section-5-article {
  display: flex;
  justify-content: center;
}

.container-img-section-5 div {
  height: 80%;
  width: 12.5rem;
  overflow: hidden;
}

.img-chef {
  grid-row: 1/3;
}

.container-img-section-5 img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .9375rem;
}

.img-gambas {
  margin-top: 3.4375rem;
}

.container-article {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.container-article h2 {
  font-size: 2.8125rem;
  font-weight: 300;
  height: 4.375rem;
}
.container-article div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .75rem;
}
.container-selection-img {
  background-color: var(--color-fondo-boton);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: .625rem;
}
.container-selection-img img {
  margin: 0 auto;
}

.parrafo-article {
  color: var(--color-letra-main3);
}
.space {
  height: 2.1875rem;
}
