.section-4-main {
  display: flex;

  justify-content: center;
}

.container-main-4 {
  width: 70%;
  margin-top: 70px;
}

.section-4-main h2 {
  font-size: 36px;
  font-weight: 480;
}
.section-4-main ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}
.section-4-main h3 {
  font-size: 13px;
  font-family: sans-serif;
}
.section-4-main p {
  font-family: sans-serif;
  font-size: 12px;
}
