.section-1-header {
  display: flex;
  justify-content: space-around;
  gap: 21.875rem;
  background-color: var(--color-fondo-section-1);
  color: var(--color-letra);
  margin-bottom: 0px;
}

.container-1-header {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.container-1-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  list-style-type: none;
}

.li-instagram img {
  object-fit: cover;
}
.img-twitter {
  padding-right: 9px;
}
