.section-2-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.875rem;
  padding-left: 4.375rem;
  padding-right: 4.375rem;
  padding-bottom: 3.75rem;
}

.container-menus-main-2 {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  gap: .625rem;
}
.container-menus-main-2 div {
  background-color: var(--color-fondo-section-2);
  padding:2.0625rem;
  border-width: .0625rem;
  border-style: solid;
  border-color: var(--color-borde-menu);
  border-radius: .625rem;
}

.container-menus-main-2 a {
  text-decoration: none;
  color: var(--color-fondo-boton);
  font-weight: 900;
  font-size: .75rem;
  font-family: sans-serif;
}
.titulo-main-2 {
  font-size: 2.1875rem;
  font-weight: 400;
}
.container-menus-main-2 h3 {
  font-size: .9375rem;
  font-family: sans-serif;
}
.container-menus-main-2 p {
  font-size: .8125rem;
  font-family: sans-serif;
}
