.section3-main {
  background-color: var(--color-fondo-section-2);
  padding-top: 70px;
  height: 90%;
}
.container-main-3 {
  display: flex;
  justify-content: center;
  gap: 110px;
  align-items: center;
}
.container-derecha {
  width: 28.7%;
}
.container-main-3 h2 {
  font-weight: 400;
  font-size: 38px;
}
.texto-1 {
  font-family: sans-serif;
  font-size: 12.6px;
  position: relative;
  top: -15px;
}

.texto-2 {
  font-family: sans-serif;
  font-size: 11px;
  position: relative;
  top: -15px;
  color: var(--color-letra-main3);
}

.container-derecha button {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 10px;
}
.container-externo {
  width: 220px;
  height: 140px;
  display: flex;
  flex-direction: column;
  background-color: #474747;
  color: var(--color-letra);
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  position: relative;
  left: 370px;
  bottom: 150px;
  border-radius: 10px;
  font-size: 12px;
}
.container-externo div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
