.section-7-main {
  background-color: var(--color-fondo-section-2);
  padding-bottom: 3.75rem;
  padding-top: 1.875rem;
}
.header-section-7-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.articles-main-7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  height: 30rem;
  gap: .625rem;
  width: 65%;
  margin: 0 auto;
}
.articles-main-7 article:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  background-color: var(--color-letra);
  font-family: sans-serif;
  font-size: .75rem;
  font-weight: 200;
  border-radius: .625rem;
}
.time-article-7 {
  width: 9.375rem;
  color: var(--color-fecha-articulos);
  font-family: sans-serif;
  font-size: .625rem;
  padding-left: .8125rem;
  margin-top: .625rem;
}
.article-secondary {
  width: 12.5rem;
  background-color: var(--color-letra);
  font-family: sans-serif;
  font-size: .875rem;
  font-weight: 500;
  color: var(--color-primer-texto);
  border-radius: .625rem;
}
.article-secondary img {
  display: block;
  width: 100%;
  margin-bottom: .4375rem;
}
.header-section-7-main h2 {
  font-size: 1.875rem;
  font-weight: 400;
}
.header-section-7-main button {
  font-family: sans-serif;
  font-size: .625rem;
  height: 1.25rem;
  color: var(--color-letra-boton);
  background-color: var(--color-fondo-boton);
  border: none;
}
.first-text {
  height: 1.5625rem;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--color-primer-texto);
  padding-left: .8125rem;
}
.second-text {
  color: var(--color-letra-main3);
  padding-left: .8125rem;
  font-size: .8125rem;
}

.burguer-img {
  padding-bottom: .25rem;
}
.article-secondary p{
  padding-left: .625rem;
  position: relative;
  bottom: .3125rem;
}
