.section-6-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 31.25rem;
  padding: 1.25rem;
}

.container-section-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  height: 65%;
  margin-top: .3125rem;
}

.container-section-6 article {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  width: 15.625rem;
  background-color: var(--color-letra-boton);
  border-radius: .625rem;
}

.container-section-6 article div {
  display: grid;
  grid-template-columns: 3.125rem auto;
  grid-template-rows: 1.25rem 1.25rem;
  width: 12.5rem;
  height: 3.125rem;
  margin-top: auto;
}

.img-articles {
  grid-row: 1/3;
  align-self: center;
}

.container-section-6 article div p {
  margin: 0;
  align-self: center;
  line-height: 1.5;
}

.section-6-main h2 {
  font-size: 2.8125rem;
  font-weight: 300;
}
.container-section-6 h3 {
  color: var(--color-fondo-boton);
  font-family: sans-serif;
  font-size: 1rem;
}
.container-section-6 p {
  font-family: sans-serif;
  font-size: .875rem;
  line-height: 1.375rem;
}
.container-section-6 hr {
  border: .0625rem var(--color-borde-menu) solid;
  width: 14.375rem;
}
