.section-2-header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    background-color: #F9F9F7;
}

.container-3-header ul {
display: flex;
list-style-type: none;
gap: 20px;
}

li a {
    text-decoration: none;
    color: black; 

}

button {
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.li-color {
    background-color: #DBDFD0;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    
    
    

}
.container-3-header li {
    padding-bottom: 8px;
    padding-top: 8px;
}