.section-8-main {
  padding-bottom: 40px;
}

.first-div-section-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.section-8-main div h2 {
  font-size: 40px;
  font-weight: 500;
}
.article-8-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-ingredients li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 43px;
  font-family: sans-serif;
  font-size: 14px;
}
.container-ingredients h2,
.text-secondary {
  padding-left: 45px;
}
.container-ingredients input {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-fondo-boton);
  border-radius: 10px;
  cursor: pointer;
}

.container-ingredients input:checked {
  background-color: var(--color-fondo-boton);
  border-color: var(--color-fondo-boton);
}
.container-ingredients label {
  cursor: pointer;
}
.container-ingredients label:hover {
  border-bottom: 1px solid black;
}
.instructions {
  text-align: justify;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  list-style: bold;
  padding-right: 20px;
}
.instructions span {
  font-weight: bold;
}
.instructions ol li::marker {
  font-weight: bold;
}
.img-edition-1 {
  margin-bottom: 45px;
  margin-top: 30px;
}
.img-edition-2 {
  margin-top: 45px;
}
.text-secondary {
  font-weight: bold;
}
