.section-9-main {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.header-section-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-section-9 h2 {
  font-weight: 500;
  font-size: 2.3125rem;
}
.container-articles-section-9 {
  display: flex;
  justify-content: center;
  gap: .625rem;
}
.container-articles-section-9 article {
  display: flex;
  flex-direction: column;
  border-radius: .75rem;
  box-shadow: 0 .5rem .75rem #f6f6f6;
  padding-bottom: .5rem;
}
.container-articles-section-9 .article-9-main time,
.article-9-main-p {
  padding-left: .625rem;
}
.container-articles-section-9 article time {
  padding-top: .5rem;
  font-family: sans-serif;
  font-size: .625rem;
  color: var(--color-fecha-articulos);
}
.header-section-9 p {
  position: relative;
  top: -1.5625rem;
  font-family: sans-serif;
  font-size: .875rem;
}
.container-articles-section-9 article p {
  font-family: sans-serif;
  font-size: .75rem;
  font-weight: 200;
}
