main {
  width: 100%;
  height: 90%;
}
.section-1-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("./comida.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.fondo-del-main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.titulo-main-1 {
  font-weight: 400;
  font-size: 3.75rem;
  font-family: Garamond, serif;
}

.parrafo-section-1 {
  position: relative;
  top: -2.8125rem;
}
.botones-section-1 {
  position: relative;
  top: -1.875rem;
  font-size: 0.8125rem;
  font-family: sans-serif;
}
.boton-con-color {
  background-color: var(--color-fondo-boton);
  color: var(--color-letra-boton);
  border: none;
  padding: 0.9375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 1.875rem;
}
.boton-sin-color {
  padding: 0.8125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 1.875rem;
  border-width: 0.0938rem;
}
