.section-8-main {
  padding-bottom: 2.5rem;
  padding-top: .625rem;
}

.first-div-section-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5625rem;
}
.section-8-main div h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
.article-8-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-ingredients li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: .625rem;
  height: 2.6875rem;
  font-family: sans-serif;
  font-size: .875rem;
}
.container-ingredients h2,
.text-secondary {
  padding-left: 2.8125rem;
}
.container-ingredients input {
  appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  border: .125rem solid var(--color-fondo-boton);
  border-radius: .625rem;
  cursor: pointer;
}

.container-ingredients input:checked {
  background-color: var(--color-fondo-boton);
  border-color: var(--color-fondo-boton);
}
.container-ingredients label {
  cursor: pointer;
}
.container-ingredients label:hover {
  border-bottom: .0625rem solid black;
}
.instructions {
  text-align: justify;
  font-family: sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  list-style: bold;
  padding-right: 1.25rem;
}
.instructions span {
  font-weight: bold;
}
.instructions ol li::marker {
  font-weight: bold;
}
.img-edition-1 {
  margin-bottom: 2.8125rem;
  margin-top: 1.875rem;
}
.img-edition-2 {
  margin-top: 2.8125rem;
}
.text-secondary {
  font-weight: bold;
}
