.section-6-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  padding: 20px;
}

.container-section-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: 65%;
  margin-top: 5px;
}

.container-section-6 article {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 250px;
  background-color: var(--color-letra-boton);
  border-radius: 10px;
}

.container-section-6 article div {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 20px 20px;
  width: 200px;
  height: 50px;
  margin-top: auto;
}

.img-articles {
  grid-row: 1/3;
  align-self: center;
}

.container-section-6 article div p {
  margin: 0;
  align-self: center;
  line-height: 1.5;
}

.section-6-main h2 {
  font-size: 45px;
  font-weight: 300;
}
.container-section-6 h3 {
  color: var(--color-fondo-boton);
  font-family: sans-serif;
  font-size: 16px;
}
.container-section-6 p {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.container-section-6 hr {
  border: 1px var(--color-borde-menu) solid;
  width: 230px;
}
