.section-9-main {
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 100%;
}

.header-section-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-section-9 h2 {
  font-weight: 500;
  font-size: 37px;
}
.container-articles-section-9 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container-articles-section-9 article {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 8px 12px #f6f6f6;
  padding-bottom: 8px;
}
.container-articles-section-9 article time,
p {
  padding-left: 10px;
}
.container-articles-section-9 article time {
  padding-top: 8px;
  font-family: sans-serif;
  font-size: 10px;
  color: var(--color-fecha-articulos);
}
.header-section-9 p {
  position: relative;
  top: -25px;
  font-family: sans-serif;
  font-size: 14px;
}
.container-articles-section-9 article p {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 200;
}
