:root{
    --color-letra: white; 
    --color-fondo-section-1: #474747;
    --color-fondo-section-2: #F9F9F7;
    --color-letra-menu: black; 
    --color-letra-boton: #F9F9F7;
    --color-fondo-boton: #AD343E;
    --color-borde-menu: #DBDFD0;
    --color-letra-main3: #414536;
    --color-fecha-articulos: #737865;
    --color-primer-texto: #2C2F24;
    --color-desenfoque: #F6F6F6;
    --color-letra-footer: #ADB29E;
    
    
}